body {
    position: relative;
    background-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    /* Remove the existing background settings */
}

div.header {
    background-color: #23272a;
    height: 58px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

div.header div.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

div.header div.header-logo {
    display: flex;
    align-items: center;
    padding-top: 0;
}

div.header div.header-logo img {
    height: 44px;
}

div.header h1,
div.header h2 {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
}

.header:hover {
    text-decoration: none !important;
}

@media (max-width: 1150px) {
    div.header div.header-logo img {
        height: 35px;
    }
    div.header h1 {
        font-size: 15px;
    }
    div.header h2 {
        font-size: 11px;
    }
}

div.header div.header-text {
    display: inline-block;
    margin-left: 13px;
}

div.header h1 {
    line-height: 27px;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 29px;
    color: #eee;
}

div.header h2 {
    font-size: 12px;
    padding-top: 0px;
    color: #eeeeee8a;
}

@media (max-width: 1150px) {
    div.header h2 {
        font-size: 17px;
    }
}

div.header {
    text-decoration: none !important;
}

div.header::after {
    text-decoration: none !important;
}

div.header:hover::after {
    text-decoration: none !important;
}

div.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 950px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

div.content div.uzivatel {
    border: 2px solid #3b3b3b;
    border-radius: 20px;
    height: 47px;
    line-height: 34px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -30px;
    width: 600px;
}

div.content div.uzivatel div.menu {
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
}

div.content div.uzivatel div.menu a {
    color: #000000;
    display: inline-block;
    margin-right: 14px;
    text-decoration: underline;
}

div.content div.alert {
    border-radius: 6px;
    border-width: 2px;
    margin-right: 10px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

div.content div.alert-danger {
    background-color: #4d4d4d;
    filter: drop-shadow(2px 4px 6px black);
}

div.content input[type="radio"] {
    margin-right: 5px;
    accent-color: #5865f2;
}

div.content .btn.btn-primary {
    background-color: #5865f2 !important;
    color: #FFFFFF;
}

div.content .btn {
    border-radius: 3px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    padding-right: 20px;
}

div.content .form-control {
    border-radius: 3px !important;
}

div.content input.btn.logout {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

div.content input.form-control {
    border-radius: 8px;
}

.uzivatel {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 29px;
    margin-right: 15px;
}

.discordbtn {
    padding: 6px;
    background-color: #5865f2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.discordbtn:hover {
    background-color: #4752c4;
    transition: background-color 0.2s;
}