<!DOCTYPE html>
<html lang="cz">
    <head>
        <title>DP</title>
        <meta charset="utf-8">
        <meta name="viewport" id="viewport" content="width=1160">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-datepicker3.css">
        <link rel="stylesheet" href="css/style.css?t={(new \DateTime())->format('YmdHis')}">
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/bootstrap-datepicker.cs.min.js"></script>
        {block styles /}
        {block scripts /}
    </head>
    <body>
        <div class="header">
            <div>
            <div class="header-content">
                <div class="header-logo"><img src="img/logo.svg" alt="logo discord"></div>
                <div class="header-text">
                    <h1>Discord psychotesty</h1>
                    <h2>Zdravý rozum otevírá dveře k právům na Discordu.</h2>
                     
                </div>
            
            </div>
         </div>


      {if isset($_SESSION['uzivatel'])}
                <div class="uzivatel">
                    {if $_SESSION['uzivatel']['admin']}
                        <div class="menu" >
                            <a href="uzivatele">Uživatelé</a>
                            <a href="vysledky">Výsledky</a>
                            <a href="statistika">Statistika</a>
                        </div>{/if}
                      <span style="color: white;">| {$_SESSION['uzivatel']['jmeno']}<form method="post" class="logout" style="display: inline;margin-left: 21px;"><input type="submit" class="discordbtn logout" name="logout" value="Odhlásit se"></form>
                    </span>
                </div>
            {/if}
        </div>
        <div class="content">
      
            {ifset $presenter}
                {foreach $presenter->getMessages() as $message}
                    <div class="alert alert-{$message[0]}">{$message[1]}</div>
                {/foreach}
            {/ifset}
            {block content /}
        </div>
  
    </body>
</html>