{layout '@layout.latte'}

{block content}
    <div class="postup-spacer"></div>
    <div class="postup">
        Vyplněno: <span class="postup-hodnota"></span>
    </div>
    <form method="post">
    <div class="distest">
    {var $postDiscordData = $presenter->getPOSTDiscordData()}
    {foreach $presenter->getKategorie() as $kategorie}
        <div class="kategorie">
            <div class="kategorie-nadpis">
                <h3>{$kategorie['nazev_kategorie']}</h3>
                <h4>{$kategorie['popis_kategorie']}</h4>
            </div>
            <div class="otazky">
            {foreach $presenter->getOtazky($kategorie['kategorie_id']) as $otazka}
                {ifset $postDiscordData[$otazka['otazka_id']]}
                    {var $odpoved = $postDiscordData[$otazka['otazka_id']]}
                {else}
                    {var $odpoved = false}
                {/ifset}
                <div class="otazka nevyplneno">
                    <h5 class="zneni-otazky">{$otazka['zneni_otazky']}</h5>
                    <div class="volby">
                        <label><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="1"{if $odpoved == '1'} checked{/if}> ano</label>
                        <label><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="2"{if $odpoved == '2'} checked{/if}> spíše ano</label>
                        <label><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="3"{if $odpoved == '3'} checked{/if}> nevím</label>
                        <label><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="4"{if $odpoved == '4'} checked{/if}> spíše ne</label>
                        <label><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="5"{if $odpoved == '5'} checked{/if}> ne</label>
                        <span class="stav">?</span>
                    </div>
                </div>
            {/foreach}
            </div>
        </div>
    {/foreach}
    
    
        <div class="save">
            <input type="submit" name="save" class="discordbtn save" value="Uložit a uzavřít dotazník">
        </div>
    </div>
    </form>
{/block}

{block styles}
<style>
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#5865f2 ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3399f3; 
}

   body {
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(253 199 171) 100%), url(https://www.dignited.com/wp-content/uploads/2022/11/discord.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }




    div.content {
         color: white;
    background-color: #23272a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 949px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3%;
    }

    
    div.content div.postup-spacer {
        display: inline-block;
        margin-top: -30px;
        width: 100%;
    }


    div.content div.postup {
     border: 2px solid #5865f2;
    border-radius: 3px;
    background-color: #23272a;
    display: inline-block;
    line-height: 31px;
    margin-left: revert-layer;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    top: 10px;
    width: 149px;
    z-index: 100;
    right: 187px;
    }


    div.content div.postup span.postup-hodnota {
        display: inline-block;
        font-weight: bold;
        text-align: right;
        width: 45px;
    }
    div.content div.kategorie-nadpis {
        text-align: center;
    }
    div.content h3 {
        font-size: 34px;
        margin-bottom: 5px;
        color: white;
    }
    div.content h4 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    div.content h4::after {
        width: 100%;
        height: 2px;
        background: #5865f2;
        content: "";
        display: block;
        margin: 20px auto 20px;
    }
    div.content div.kategorie {
        margin-bottom: 30px;
    }
    div.content div.kategorie-nadpis {
        margin-bottom: 10px;
    }
    div.content div.otazka {
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }


    div.content div.otazka:hover {
       border-color: #5865f2;
    border-radius: 0;

    }


    div.content div.otazka.ok:hover {
        border-color: #5865f2;
    }
    div.content h5.zneni-otazky {
        color: #fff;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    div.content div.otazka.ok h5.zneni-otazky {
        color: #b7b7b7;
    }
    div.content div.volby {
    margin-left: 90px;
    margin-top: 13px;
    }
    div.content div.otazka label {
        border: 2px solid #5865f2;
        border-radius: 4px;
        cursor: pointer;
        width: 130px;
        padding: 5px;
        padding-left: 10px;
        margin-right: 5px;
        transition: background-color 0.2s;
    }
    div.content div.otazka label input {
        cursor: pointer
    }
    div.content div.otazka label.selected {
        border: 2px solid #5865f2;
        background-color: #5865f2;
        font-weight: bold;
    }
    div.content div.otazka label:hover {
        background-color: #5865f2;
    }
    div.content div.otazka span.stav {
        margin-left: 50px;
        font-weight: bold;
    }
    div.content div.otazka.nevyplneno span.stav {
        color: #CC9917;
    }
    div.content div.otazka.ok span.stav {
        color: #17ccab;
    }
    div.content div.save {
        text-align: center;
    }



</style>
{/block}

{block scripts}
<script type="text/javascript">
    function updatePostup() {
        var splneno = $('div.otazka.ok').length;
        var celkem = $('div.otazka.ok').length + $('div.otazka.nevyplneno').length;
        $('span.postup-hodnota').html(splneno + '/' + celkem);
    }
    
    $(function() {
        updatePostup();
        $('div.volby label').click(function() {
            $(this).find('input').prop('checked', true);
            $(this).parent().find('label').removeClass('selected');
            $(this).addClass('selected');
            $(this).closest('div.otazka').find('span.stav').html('&#10003;');
            $(this).closest('div.otazka').removeClass('nevyplneno');
            $(this).closest('div.otazka').addClass('ok');
            updatePostup();
            if($(this).closest('div.otazka').next().position()!==undefined) {
                window.scrollTo(0, $(this).closest('div.otazka').next().position().top - 350);
            } else if($(this).closest('div.kategorie').next().find('div.otazka').position()!==undefined) {
                window.scrollTo(0, $(this).closest('div.kategorie').next().find('div.otazka').position().top - 350);
            }
        });
        $('div.volby input:checked').click();
        $('div.content div.distest input[type="submit"]').click(function(e) {
            if($('div.otazka.ok').length !== $('div.otazka.ok').length + $('div.otazka.nevyplneno').length) {
                e.preventDefault();
                window.alert('Nejsou zodpovězeny všechny otázky!');
            }
        });
        $('div.content form.logout input[type="submit"]').click(function(e) {
            if(!window.confirm('Pokud se odhlásíte, dojde ke ztrátě předvolených dat. Opravdu se chcete odhlásit?')) {
                e.preventDefault();
            }
        });
    });
</script>
{/block}