{layout '@layout.latte'}

{block content}
<div class="login">
    <h3>Přihlášení</h1>
    <form method="post">
        <label for="username">
          <span>Přihlašovací jméno </span>
        </label>
        <input type="text" name="login" id="login" required="">
        <label for="password">
             <span>Heslo </span>
        </label>
        <input type="password" name="heslo"  id="heslo" required="">
        <input type="submit" name="send" value="Přihlásit se">
    </form>
</div>


{/block}

{block styles}
<style>
body{
    background: url(https://images.alphacoders.com/129/1291249.png);
    background-repeat: no-repeat;
    background-size: cover;
 overflow: hidden;


}

    div.content div.login {
        background-color: #36393f;
        border-radius: 5px; 
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); 
        margin: 60px auto;
        width: 400px;
        padding: 20px; 
    }
    div.content div.login h3 {
        text-align: center;
        color: #ffffff; 
        font-size: 24px;
        padding: 20px 0;
    
    }
    div.content div.login form {
         display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    color: #f5f5f5c9;
    }
    div.content div.login form label {
       
    }
    div.content div.login form input[type="password"],
    div.content div.login form input[type="text"] {
        width: 100%; 
        height: 40px;
        border: 1px solid #202225; 
        border-radius: 3px; 
        margin-bottom: 20px;
        padding: 0 15px;
        background-color: #202225; 
        color: #dcddde; 
    }
    div.content div.login form input[type="password"]::placeholder,
    div.content div.login form input[type="text"]::placeholder {
        color: #72767d; 
    }
    div.content div.login form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        background-color: #5865f2; 
        border: none;
        border-radius: 3px; 
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
        transition: background-color 0.2s;
    }
    div.content div.login form input[type="submit"]:hover {
        background-color: #4752c4; 
        transition: background-color 0.2s;
    }
</style>

{/block}

{block scripts}
<script type="text/javascript">
    $(function() {
        $('input[name="login"]').focus();
    });
</script>
{/block}