{layout '@layout.latte'}

{block content}
<div class="otazky-container">
    <table class="otazky-table">
        <tbody>
        {foreach $presenter->getOtazkyTexty() as $otazkaId => $otazka}
            {var $odpoved = $presenter->getVysledek()[$otazkaId] ?? false}
          <tr class="otazka-row">
                    <td>
                        <h5 class="zneni-otazky">{$otazka['nazev']}</h5>
                        <p>{$otazka['popis']}</p>
                    </td>
                    <td class="toggler-cell">
                        <div class="toggler">
                            <input type="checkbox" id="toggler-{$otazkaId}" {if $odpoved == '1' || $odpoved == '2'}checked{/if} disabled>
                          <label for="toggler-{$otazkaId}">
                   <svg class="toggler-on" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                       <polyline class="path check" points="100.2,40.2 51.5,88.8 29.8,67.5"></polyline>
                   </svg>
                   <svg class="toggler-off" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                       <line class="path line" x1="34.4" y1="34.4" x2="95.8" y2="95.8"></line>
                       <line class="path line" x1="95.8" y1="34.4" x2="34.4" y2="95.8"></line>
                   </svg>
               </label>
                        </div>
                    </td>
                </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{/block}








{block styles}
<style>


html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#5865f2 ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3399f3; 
}

   body {
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(57 145 179) 100%), url(https://preview.redd.it/oe901qo4hth61.png?width=3840&format=png&auto=webp&s=eac9b8f429cf2d88a84ed865b6ee5493ff452dcb);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }


    div.content {
         color: white;
    background-color: #23272a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 949px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
   padding-bottom: 100%;
    }

    
    div.content div.postup-spacer {
        display: inline-block;
        margin-top: -30px;
        width: 100%;
    }


    div.content div.postup {
     border: 2px solid #5865f2;
    border-radius: 3px;
    background-color: #23272a;
    display: inline-block;
    line-height: 31px;
    margin-left: revert-layer;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    top: 10px;
    width: 149px;
    z-index: 100;
    right: 187px;
    }


    div.content div.postup span.postup-hodnota {
        display: inline-block;
        font-weight: bold;
        text-align: right;
        width: 45px;
    }
    div.content div.kategorie-nadpis {
        text-align: center;
    }
    div.content h3 {
        font-size: 34px;
        margin-bottom: 5px;
        color: white;
    }
    div.content h4 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    div.content h4::after {
        width: 100%;
        height: 2px;
        background: #5865f2;
        content: "";
        display: block;
        margin: 20px auto 20px;
    }
    div.content div.kategorie {
        margin-bottom: 30px;
    }
    div.content div.kategorie-nadpis {
        margin-bottom: 10px;
    }
    div.content div.otazka {
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }

h4{
    text-align:center;
    color:white;
}

    div.content div.otazka:hover {
       border-color: #5865f2;
    border-radius: 0;

    }


    div.content div.otazka.ok:hover {
        border-color: #5865f2;
    }
    div.content h5.zneni-otazky {
        color: #fff;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
       
        margin-bottom: 15px;
    }
    div.content div.otazka.ok h5.zneni-otazky {
        color: #b7b7b7;
    }
    div.content div.volby {
    margin-left: 90px;
    margin-top: 13px;
    }


    div.content div.otazka label.selected {
        border: 2px solid #5865f2;
        background-color: #5865f2;
        font-weight: bold;
    }
    div.content div.otazka label:hover {
        background-color: #5865f2;
    }
    div.content div.otazka span.stav {
        margin-left: 50px;
        font-weight: bold;
    }
    div.content div.otazka.nevyplneno span.stav {
        color: #CC9917;
    }
    div.content div.otazka.ok span.stav {
        color: #17ccab;
    }
    div.content div.save {
        text-align: center;
    }

.toggler {
  width: 72px;
  margin: 40px auto;
}

.toggler input {
  display: none;
}

.toggler label {
  display: block;
  position: relative;
  width: 72px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;
}

.toggler label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: '';
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.toggler label::after, .toggler label .toggler-on, .toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after, .toggler input:checked + label .toggler-on, .toggler input:checked + label .toggler-off {
  left: 75%;
}

.toggler input:checked + label::after {
  background-color: #50ac5d;
  animation-name: toggler-size2;
}

.toggler .toggler-on, .toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}

.toggler input:checked + label .toggler-off, .toggler input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@keyframes toggler-size {
  0%, 100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size2 {
  0%, 100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

.kategorie-container {
    margin: auto;
    width: 80%; /* Nebo jakákoliv jiná šířka */
}

.otazky-table {
    width: 100%;
    border-collapse: collapse;
}

.otazka-row td {
    padding: 10px;
    border-bottom: 1px solid #434343;
}

.toggler-cell {
    width: 50px; 
    text-align: center;
}

p{
  color:#b3b7c2;
}

    
</style>
{/block}