{layout '@layout.latte'}

{block content}

    <h3>Statistika vyplněných odpovědí</h3>
    <div class="distest">
    {foreach $presenter->getKategorie() as $kategorie}
        <div class="kategorie">
            <div class="kategorie-nadpis">
                <h4>{$kategorie['nazev_kategorie']}</h4>
                <h5>{$kategorie['popis_kategorie']}</h5>
            </div>
            <div class="otazky">
            {foreach $presenter->getOtazky($kategorie['kategorie_id']) as $otazka}
                <div class="otazka">
                    <h6 class="zneni-otazky">{$otazka['zneni_otazky']}</h6>
                    <div class="statistika">
                        {var $otazkaStatistika = $presenter->getStatistika()[$otazka['otazka_id']]}
                        <svg class="graf1">
                            <rect x="260" y="0" rx="3" ry="3" width="75" height="17" style="fill: #99CC17"></rect>
                            <text x="270" y="13" class="graf1-font-white">Průměr</text>
                            <rect x="340" y="0" rx="3" ry="3" width="75" height="17" style="fill: #5865f2"></rect>
                            <text x="350" y="13" class="graf1-font-white">Medián</text>
                            <rect x="20" y="48" width="360" height="6" style="fill: #939cff"></rect>
                            <text x="2" y="88" class="graf-font-white">ano</text>
                            <text x="92" y="88" class="graf-font-white">spíše ano</text>
                            <text x="182" y="88" class="graf-font-white">nevím</text>
                            <text x="277" y="88" class="graf-font-white">spíše ne</text>
                            <text x="350" y="88" class="graf-font-white">ne</text>
                            <rect x="17" y="40" width="6" height="22" class="graf1-tick"></rect>
                            <rect x="107" y="40" width="6" height="22" class="graf1-tick"></rect>
                            <rect x="197" y="40" width="6" height="22" class="graf1-tick"></rect>
                            <rect x="287" y="40" width="6" height="22" class="graf1-tick"></rect>
                            <rect x="377" y="40" width="6" height="22" class="graf1-tick"></rect>
                            <rect x="{($otazkaStatistika['min'] - 1) * 90 + 20}" y="48" width="{($otazkaStatistika['max'] - $otazkaStatistika['min']) * 100}" height="6" style="fill: #5865f2"></rect>
                            <circle cx="{($otazkaStatistika['min'] - 1) * 90 + 20}" cy="51" r="6" class="graf1-value-circle"></circle>
                            <circle cx="{($otazkaStatistika['max'] - 1) * 90 + 20}" cy="51" r="6" class="graf1-value-circle"></circle>
                            <circle cx="{($otazkaStatistika['prumer'] - 1) * 90 + 20}" cy="38" r="16" style="fill: #99CC17"></circle>
                            <text x="{($otazkaStatistika['prumer'] - 1) * 90 + 17}" y="43" class="graf1-font-white">P</text>
                            <circle cx="{($otazkaStatistika['median'] - 1) * 90 + 20}" cy="60" r="12" style="fill: #5865f2"></circle>
                            <text x="{($otazkaStatistika['median'] - 1) * 90 + 14}" y="65" class="graf1-font-white">M</text>
                        </svg>
                        <svg class="graf2">
                            <text x="10" y="12" class="graf2-label graf-font">ano</text>
                            <text x="10" y="31" class="graf2-label graf-font">spíše ano</text>
                            <text x="10" y="50" class="graf2-label graf-font">nevím</text>
                            <text x="10" y="69" class="graf2-label graf-font">spíše ne</text>
                            <text x="10" y="88" class="graf2-label graf-font">ne</text>
                            <rect x="97" y="0" width="3" height="94" class="graf2-axe"></rect>
                            <rect x="100" y="91" width="200" height="3" class="graf2-axe"></rect>
                            {for $odpoved = 1; $odpoved <= 5; $odpoved++}
                                {ifset $otazkaStatistika['procenta'][strval($odpoved)]}
                                <rect x="100" y="{2 + 19 * ($odpoved - 1)}" width="{$otazkaStatistika['procenta'][strval($odpoved)] * 200}" height="10" class="graf2-bar"></rect>
                                {/ifset}
                                <rect x="97" y="{2 + 19 * ($odpoved - 1)}" width="3" height="10" style="fill: #5865f2"></rect>
                                <text x="340" y="{12 + 19 * ($odpoved - 1)}" class="graf-font" style="text-anchor: end">{ifset $otazkaStatistika['pocty'][strval($odpoved)]}{$otazkaStatistika['pocty'][strval($odpoved)]}{else}0{/ifset}</text>
                                <text x="400" y="{12 + 19 * ($odpoved - 1)}" class="graf-font" style="text-anchor: end">{ifset $otazkaStatistika['procenta'][strval($odpoved)]}{number_format($otazkaStatistika['procenta'][strval($odpoved)] * 100, 1)}{else}0.0{/ifset} %</text>
                            {/for}
                        </svg>
                    </div>
                </div>
            {/foreach}
            </div>
        </div>
    {/foreach}
    </div>
{/block}

{block styles}
<style>

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 

::-webkit-scrollbar-thumb {
  background:#5865f2 ; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #3399f3; 
}

   body {
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(48 35 98) 100%), url(https://i.pinimg.com/originals/13/86/cb/1386cbf99d534fd490a7cb1753cd06cf.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

h3, h4{
    color:white;
}

    div.content {
         color: white;
    background-color: #23272a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 949px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3%;
    }

    graf2-label{
        fill:#b0b0b0l;
    }

    div.content div.export {
        display: flex;
        height: 0px;
        justify-content: flex-end;
        margin-right: 20px;
    }
    div.content div.export a {
        height: 46px;
        line-height: 34px;
        position: relative;
        top: -77px;
    }
    div.content div.distest {
        margin-top: 30px;
    }
    div.content div.kategorie-nadpis {
        text-align: center;
    }
    div.content h3 {
        font-size: 34px;
        margin-bottom: 5px;
        text-align: center;
    }
    div.content h4 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    div.content h5 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    div.content h5::after {
        width: 100%;
        height: 2px;
        background: #5865f2;
        content: "";
        display: block;
        margin: 20px auto 20px;
    }
    div.content div.kategorie {
        margin-bottom: 30px;
    }
    div.content div.kategorie-nadpis {
        margin-bottom: 10px;
    }
    div.content div.otazka {
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
   div.content div.otazka:hover {
       border-color: #5865f2;
    border-radius: 0;
   }
    div.content div.otazka.ok:hover {
        border-color: #5865f2;
    }
    div.content h6.zneni-otazky {
        color: #fff;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    div.content div.otazka.ok h5.zneni-otazky {
        color: #5865f2;
    }
    div.content div.statistika svg.graf1 {
        width: 420px;
        height: 94px;
    }
    div.content div.statistika svg.graf2 {
        width: 410px;
        height: 94px;
        margin-left: 50px;
    }
    div.content div.statistika text.graf-font {
        font-size: 14px;
        color:#fbfbfb;
    }
    div.content div.statistika svg.graf1 rect.graf1-tick {
        fill: #CC9917;
    }
    div.content div.statistika svg.graf1 circle.graf1-value-circle {
        fill: #0079AC;
    }



.graf-font-white {
        font-size: 14px;
        fill: #b0b0b0;
    }
.graf-font {
        
        fill: #b0b0b0;
    }

    div.content div.statistika svg.graf2 rect.graf2-axe {
        fill: #939cff;
    }
    div.content div.statistika svg.graf2 rect.graf2-bar {
        fill: #5865f2;
    }
</style>
{/block}

{block scripts}
<script type="text/javascript">
</script>
{/block}