{layout '@layout.latte'}

{define uzivatele-uzivatel $uzivatel, $showDatumNarozeni, $showSmazatUzivatele, $showCasDiscordu}
    <div class="uzivatele-uzivatel">
        <div class="levy-sloupec">
            <div class="radek filtr">
                <span class="popis">Přihlašovací jméno:</span><span class="hodnota">{$uzivatel['login']}</span>
            </div>
            <div class="radek filtr">
                <span class="popis">Jméno uživatele:</span><span class="hodnota">{$uzivatel['jmeno']}</span>
            </div>
            {if $showDatumNarozeni}
            <div class="radek filtr">
                <span class="popis">Datum narození:</span><span class="hodnota">{if $uzivatel['datum_narozeni']}{(new \DateTime($uzivatel['datum_narozeni']))->format('d. m. Y')}{/if}</span>
            </div>
            {/if}
        </div>
        <div class="pravy-sloupec">
            <div class="radek">
                <span class="popis">Vytvořeno:</span><span class="hodnota">{var $cas = new \DateTime($uzivatel['vytvoreno'])}{$cas->format('d. m. Y')}&nbsp; &nbsp; {$cas->format('H:i')}</span>
            </div>
            {if $showCasDiscordu}
            <div class="radek filtr">
                <span class="popis">Dotazník vyplněn:</span><span class="hodnota">{if $uzivatel['distest_cas']}{(new \DateTime($uzivatel['distest_cas']))->format('d. m. Y')}{/if}</span>
            </div>
            {/if}
            <div class="radek akce">
                <form method="post"><input type="submit" class="btn btn-warning" name="load-edit[{$uzivatel['uzivatel_id']}]" value="Upravit uživatele">
                                    <input type="submit" class="btn btn-danger" name="delete[{$uzivatel['uzivatel_id']}]" value="Smazat uživatele"></form>
            </div>
        </div>
    </div>
{/define}

{define uzivatele $nadpis, $uzivatele, $showDatumNarozeni, $showSmazatUzivatele, $showCasDiscordu}
<div class="uzivatele-toggleable">
    <h4><span>+</span>{$nadpis} ({sizeof($uzivatele)})</h4>
    <div class="uzivatele">
        <div class="uzivatele-filtr">Filtr: <input class="form-control"></div>
        {foreach $uzivatele as $uzivatel}
            {include uzivatele-uzivatel $uzivatel, $showDatumNarozeni, $showSmazatUzivatele, $showCasDiscordu}
        {/foreach}
    </div>
</div>
{/define}

{block content}
<h3>Správa uživatelů</h3>
<h4>Nový uživatel</h4>

<form method="post" class="disform">
    <table class="form-uzivatel">
        <tr>
            <th>Typ uživatele<span class="povinne"">*</span></th><td><select class="form-control"  name="admin">
                    <option value="0"{if $presenter->getUzivatelData('admin')=='0'} selected{/if}>Pacient</option>
                    <option value="1"{if $presenter->getUzivatelData('admin')=='1'} selected{/if}>Administrátor</option>
                </select>
        <tr>
            <th>Přihlašovací jméno<span class="povinne"">*</span></th><td><input type="text" class="form-control" name="login" value="{$presenter->getUzivatelData('login')}"></td>
        </tr>
        <tr>
            <th>Heslo<span class="povinne"">{if !$presenter->getUzivatelData('uzivatel_id')}*{/if}</span></td><th><input type="password" class="form-control" name="heslo"{if $presenter->getUzivatelData('uzivatel_id')} placeholder="prázdné = neměnit"{/if}></td>
        </tr>
        <tr>
            <th>Příjmení a jméno<span class="povinne"">*</span></th><td><input type="text" class="form-control" name="jmeno" value="{$presenter->getUzivatelData('jmeno')}"></td>
        </tr>
        <tr>
            <th class="nepovinne">Datum narození</th><td><input type="text" autocomplete="off" class="datepicker form-control" name="datum_narozeni" value="{if $presenter->getUzivatelData('datum_narozeni')}{(new \DateTime($presenter->getUzivatelData('datum_narozeni')))->format('d. m. Y')}{/if}"></td>
        </tr>
        <tr>
            <th></th><td>{if !$presenter->getUzivatelData('uzivatel_id')}<input type="submit" class="discordbtn width100" name="new" value="Založit uživatele">{else}
                <input type="submit" class="discordbtn edit width100" name="edit[{$presenter->getUzivatelData('uzivatel_id')}]" value="Upravit uživatele">{/if}</td>
        </tr>
    </table>
</form>
<h3></h3>
<div>
{include uzivatele 'Seznam administrátorů', $presenter->getAdministratori(), false, true, false}
{include uzivatele 'Seznam pacientů s otevřeným účtem', $presenter->getPacientiOtevrenyUcet(), true, true, false}
{include uzivatele 'Seznam pacientů s uzavřeným účtem', $presenter->getPacientiUzavrenyUcet(), true, false, true}
</div>
{/block}

{block styles}
<style>
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 

::-webkit-scrollbar-thumb {
  background:#5865f2 ; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5865f2; 
}

html {
 
    font-size: 18px;
    height: 100%;
    scroll-behavior: smooth;
}

   body {
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgba(51,130,169,1) 100%), url(https://i.redd.it/vda9rbt01en01.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }


.width100{
    width:100%;
}

.content {
    background-color: #4752c4;
}

   div.content {
    color: white;
    background-color: #23272a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 949px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100%;
    }

    div.content h3 {
        font-size: 34px;
        margin-bottom: 5px;
        text-align: center;
        color:white;
    }

    .discordbtn {
    padding: 6px;
    background-color: #5865f2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;

}

    div.content h3::after {
  width: 100%;
    height: 2px;
    background: #5865f2;
    content: "";
    display: block;
    margin: 32px 11px 23px 0px;


    }
    div.content h4 {
        margin-top: 35px;
        text-align:center;
        color:white;
    }
    div.content table.form-uzivatel tr td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    div.content table.form-uzivatel tr th {
        font-weight: normal;
        width: 180px;
        height: 56px;
    }
    div.content table.form-uzivatel tr th span.povinne {
        color: #C00000;
        margin-left: 5px;
    }
   

    div.content div.uzivatele-toggleable > h4 {
        cursor: pointer;
        text-align: left;
    }
    div.content div.uzivatele-toggleable > h4 span {
        display: inline-block;
        text-align: center;
        width: 20px;
        margin-right: 10px;
    }
    div.content div.uzivatele {
        display: none;
    background: #313338;
    display: none;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 1px;

    }

    div.content div.uzivatele-filtr {
        margin-bottom: 20px;
        padding-left: 10px;
    }
    div.content div.uzivatele-filtr input {
        display: inline-block;
        margin-left: 10px;
        width: 200px;
    }
    div.content div.uzivatele-uzivatel {
       
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 10px;
        background: #313338;
    }

    div.content div.uzivatele-uzivatel:hover {
        background-color: #1e1f22;
    }
    div.content div.uzivatele-uzivatel div.levy-sloupec {
        width: 50%;
    }
    div.content div.uzivatele-uzivatel span.popis {
        display: inline-block;
        width: 200px;
    }
    div.content div.uzivatele-uzivatel span.hodnota {
        font-weight: bold;
    }
    div.content div.uzivatele-uzivatel div.radek.akce {
        margin-top: 10px;
    }
    div.content div.uzivatele-uzivatel div.radek.akce input {
        margin-right: 20px;
    }
    div.content table.uzivatele {
        margin-top: 20px;
        width: 100%;
    }

    div.content table.uzivatele tr th, div.content table.uzivatele tr td {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    div.content table.uzivatele tr th:nth-of-type(1) {
        width: 25%;
    }
    div.content table.uzivatele tr th:nth-of-type(2) {
        width: 20%;
    }
    div.content table.uzivatele tr th:nth-of-type(3) {
        width: 25%;
    }
    div.content table.uzivatele tr th:nth-of-type(3) {
        width: 20%;
    }
    div.content table.uzivatele tr td {
        font-size: 20px;
    }
    div.content table.uzivatele tr:hover {
        background-color: #DDF2FF;
    }


    .disform{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 61%;
    margin: 0 auto;
    }


    
</style>
{/block}

{block scripts}
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
        language: "cs",
        format: "dd.mm.yyyy",
        minuteStep: 1,
        minView: 2,
        keyboardNavigation: false,
        orientation: 'bottom',
        autoclose: true
    });
    $('table.form-uzivatel select[name="admin"]').change(function() {
        if($(this).val()==="1") {
            $('table.form-uzivatel input[name="datum_narozeni"]').prop('disabled', true);
        } else {
            $('table.form-uzivatel input[name="datum_narozeni"]').prop('disabled', false);
        }
    });
    $('table.form-uzivatel select[name="admin"]').change();
    if($('table.form-uzivatel').find('input.edit').length) {
        $('table.form-uzivatel select[name="admin"]').prop('disabled', true);
    }
    $('div.uzivatele-toggleable > h4').click(function() {
        $(this).parent().find('div.uzivatele').toggle();
        if($(this).parent().find('> div.uzivatele').is(':visible')) {
            $(this).find('span').html('-');
        } else {
            $(this).find('span').html('+');
        }
    });
    $('div.uzivatele-filtr input').keyup(function() {
        var filtrElem = $(this);
        filtrElem.closest('div.uzivatele').find('div.uzivatele-uzivatel').hide();
        filtrElem.closest('div.uzivatele').find('div.radek.filtr span.hodnota').each(function() {
            if($(this).text().toLowerCase().indexOf(filtrElem.val().toLowerCase())!==-1) {
                $(this).closest('div.uzivatele-uzivatel').show();
            }
        });
    });
    
});




</script>
{/block}