{block content}
    {foreach $presenter->getKategorie() as $kategorie}
        <div class="kategorie">
            <div class="kategorie-nadpis">
                <h4>{$kategorie['nazev_kategorie']}</h4>
                <h5>{$kategorie['popis_kategorie']}</h5>
            </div>
            <div class="otazky">
            {foreach $presenter->getOtazky($kategorie['kategorie_id']) as $otazka}
                {ifset $presenter->getVysledek()[$otazka['otazka_id']]}
                    {var $odpoved = $presenter->getVysledek()[$otazka['otazka_id']]}
                {else}
                    {var $odpoved = false}
                {/ifset}
                <div class="otazka">
                    <h6 class="zneni-otazky">{$otazka['zneni_otazky']}</h6>
                    <div class="volby">
                        <label{if $odpoved == '1'} class="selected"{/if}><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="1" {if $odpoved == '1'}checked{else}disabled{/if}> ano</label>
                        <label{if $odpoved == '2'} class="selected"{/if}><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="2" {if $odpoved == '2'}checked{else}disabled{/if}> spíše ano</label>
                        <label{if $odpoved == '3'} class="selected"{/if}><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="3" {if $odpoved == '3'}checked{else}disabled{/if}> nevím</label>
                        <label{if $odpoved == '4'} class="selected"{/if}><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="4" {if $odpoved == '4'}checked{else}disabled{/if}> ne</label>
                        <label{if $odpoved == '5'} class="selected"{/if}><input type="radio" name="otazka[{$otazka['otazka_id']}]" value="5" {if $odpoved == '5'}checked{else}disabled{/if}> spíše ne</label>
                    </div>
                </div>
            {/foreach}
            </div>
        </div>
    {/foreach}
{/block}