{layout '@layout.latte'}

{block content}
    <h3>Prohlížení vyplněných dotazníků</h3>
    <div class="vysledek-form">
    Vyhledat: <input type="text" name="vyhledat" class="form-control">
    <select name="vysledky" class="form-control select">
    </select>
    </div>
    <div class="distest">
    </div>
{/block}

{block styles}
<style>
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#5865f2 ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3399f3; 
}

   body {
    position: relative;
    background-color: transparent;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(0 106 76) 100%), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/92131e21139159.562fc23335075.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

    div.content {
         color: white;
    background-color: #23272a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 949px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3%;
    }
    div.content div.vysledek-form {
     margin-top: 25px;
    margin-left: 73px;
    }
    div.content div.vysledek-form input[name="vyhledat"] {
        display: inline-block;
        margin-left: 10px;
        width: 300px;
    }
    div.content div.vysledek-form select[name="vysledky"] {
        display: inline-block;
        margin-left: 50px;
        width: 300px;
    }
    div.content div.distest {
        margin-top: 30px;
    }
    div.content div.kategorie-nadpis {
        text-align: center;
    }
    div.content h3 {
        font-size: 34px;
        margin-bottom: 5px;
        text-align: center;
    }
    div.content h4 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    div.content h5 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    div.content h5::after {
        width: 100%;
        height: 2px;
        background: #5865f2;
        content: "";
        display: block;
        margin: 20px auto 20px;
    }
    div.content div.kategorie {
        margin-bottom: 30px;
    }
    div.content div.kategorie-nadpis {
        margin-bottom: 10px;
    }
    div.content div.otazka {
        margin-bottom: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
   div.content div.otazka:hover {
       border-color: #5865f2;
    border-radius: 0;

    }
   div.content div.otazka.ok:hover {
        border-color: #5865f2;
    }

    div.content h5.zneni-otazky {
        color: #fff;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 15px;
    }
.zneni-otazky {
        color: #fff;
    }

h3, h4{
    color:white;
}


    div.content div.volby {
    margin-left: 90px;
    margin-top: 13px;
    }
    div.content div.otazka label {
        border: 2px solid #5865f2;
        border-radius: 4px;
        cursor: pointer;
        width: 130px;
        padding: 5px;
        padding-left: 10px;
        margin-right: 5px;
        transition: background-color 0.2s;
    }
    div.content div.otazka label.selected {
        border: 2px solid #5865f2;
        background-color: #5865f2;
        font-weight: bold;
    }
</style>
{/block}

{block scripts}
<script type="text/javascript">
    $(function() {
        $('input[name="vyhledat"]').keyup(function() {
            if($(this).val()==='') {
                var vyberte = true;
            } else {
                var vyberte = false;
            }
            $.ajax({
                type: "POST",
                url: {$presenter->getCurrentURL()},
                data: { 'akce': 'vyhledat', 'vyhledat': $(this).val() },
                dataType: 'json',
                success: function(data) {
                    $('select[name="vysledky"]').empty();
                    if(data.length!==0) {
                        if(vyberte) {
                            $('select[name="vysledky"]').append('<option value="">-- vyberte --</option>');
                        }
                        $.each(data, function(vysledekId, vysledekPopis) {
                            $('select[name="vysledky"]').append('<option value="' + vysledekId + '">' + vysledekPopis + '</option>');
                        });
                    } else {
                        $('select[name="vysledky"]').append('<option value="">-- žádné záznamy --</option>');
                    }
                    $('select[name="vysledky"]').change();
                }
            });
        });
        $('input[name="vyhledat"]').keyup();
        $('select[name="vysledky"]').change(function() {
            $.ajax({
                type: "POST",
                url: {$presenter->getCurrentURL()},
                data: { 'akce': 'vysledek', 'vysledek': $(this).val() },
                success: function(data) {
                    $('div.distest').html(data);
                }
            });
        });
        $('select[name="vysledky"]').change();
    });
</script>
{/block}